apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
    name: argocd-image-updater
    namespace: argocd
spec:
    project: default
    source:
        repoURL: https://argoproj.github.io/argo-helm
        chart: argocd-image-updater
        targetRevision: 0.12.0
        helm:
            valueFiles:
                - values.yaml # ← wrapper 내부 values.yaml 적용
        path: argocd-image-updater # ← repo wrapper 디렉토리
    destination:
        server: https://kubernetes.default.svc
        namespace: argocd
    syncPolicy:
        automated:
            prune: true
            selfHeal: true
