configs:
    params:
        server.insecure: true

server:
    service:
        type: LoadBalancer
    ingress:
        enabled: false

repoServer:
    env:
        - name: SSH_AUTH_SOCK
          value: /ssh-agent/ssh-agent.sock

    securityContext:
        runAsUser: 0

    volumeMounts:
        - name: ssh-agent
          mountPath: /ssh-agent
        - name: ssh-keys
          mountPath: /ssh-keys

    volumes:
        - name: ssh-agent
          emptyDir:
              medium: Memory
        - name: ssh-keys
          secret:
              secretName: argocd-image-updater-sshkey
              items:
                  - key: sshPrivateKey
                    path: id_ed25519

    extraContainers:
        - name: ssh-agent
          image: alpine:3.18
          command: ['/bin/sh', '-c']
          args:
              - |
                  apk add --no-cache openssh;

                  mkdir -p /root/.ssh;
                  cp /ssh-keys/id_ed25519 /root/.ssh/id_ed25519;
                  chmod 600 /root/.ssh/id_ed25519;

                  echo "Starting ssh-agent..."
                  eval $(ssh-agent -a /ssh-agent/ssh-agent.sock);

                  echo "Adding key..."
                  ssh-add /root/.ssh/id_ed25519;

                  chmod 777 /ssh-agent/ssh-agent.sock;

                  echo "SSH agent ready."
                  tail -f /dev/null;

          securityContext:
              runAsUser: 0
          volumeMounts:
              - name: ssh-agent
                mountPath: /ssh-agent
              - name: ssh-keys
                mountPath: /ssh-keys
