configs:
    params:
        server.insecure: true

server:
    service:
        type: LoadBalancer

repoServer:
    env:
        - name: SSH_AUTH_SOCK
          value: /ssh-agent/ssh-agent.sock

    initContainers:
        - name: ssh-agent
          image: alpine:3.18
          command:
              - sh
              - -c
              - |
                  apk add --no-cache openssh;
                  mkdir -p /ssh-agent;
                  ssh-agent -a /ssh-agent/ssh-agent.sock;
                  chmod 777 /ssh-agent/ssh-agent.sock;
                  ssh-add /ssh-keys/id_ed25519;
                  sleep 3;

          volumeMounts:
              - name: ssh-agent
                mountPath: /ssh-agent
              - name: ssh-keys
                mountPath: /ssh-keys

    volumeMounts:
        - name: ssh-agent
          mountPath: /ssh-agent

    volumes:
        - name: ssh-agent
          emptyDir: {}
        - name: ssh-keys
          secret:
              secretName: argocd-image-updater-sshkey
