configs:
    params:
        server.insecure: true

server:
    service:
        type: LoadBalancer
    ingress:
        enabled: false
    metrics:
        enabled: true

controller:
    metrics:
        enabled: true

applicationset:
    enabled: true

repoServer:
    metrics:
        enabled: true
