configs:
    params:
        server.insecure: true

repoServer:
    env:
        - name: SSH_AUTH_SOCK
          value: /ssh-agent/ssh-agent.sock

    extraContainers:
        - name: ssh-agent
          image: linuxserver/openssh-client:latest
          env:
              - name: SSH_AUTH_SOCK
                value: /ssh-agent/ssh-agent.sock
          volumeMounts:
              - name: ssh-agent
                mountPath: /ssh-agent
              - name: ssh-keys
                mountPath: /root/.ssh
          command:
              - sh
              - -c
              - |
                  chmod 600 /root/.ssh/id_ed25519;
                  eval $(ssh-agent -a /ssh-agent/ssh-agent.sock);
                  ssh-add /root/.ssh/id_ed25519;
                  tail -f /dev/null   # ssh-agent 살아있게 유지

    volumeMounts:
        - name: ssh-agent
          mountPath: /ssh-agent

    volumes:
        - name: ssh-agent
          emptyDir: {}
        - name: ssh-keys
          secret:
              secretName: argocd-image-updater-sshkey
              items:
                  - key: sshPrivateKey
                    path: id_ed25519
