apiVersion: v1
kind: Service
metadata:
  labels:
    app: ticketing-system-admin
  name: ticketing-admin-service
spec:
  type: NodePort
  ports:
  - port: 8080
    protocol: TCP
    targetPort: 8080
  selector:
    app: ticketing-system-admin
status:
  loadBalancer: {}
