apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
  name: test-key
  namespace: default
spec:
  refreshInterval: 1h
  secretStoreRef:
    name: aws-secretsmanager
    kind: SecretStore
  target:
    name: backend-need-key
    creationPolicy: Owner
  dataFrom:
  - extract:
      key: test/ticket/info
