apiVersion: v1
kind: Service
metadata:
    name: blackbox-exporter
    namespace: monitoring
    labels:
        app: blackbox-exporter
spec:
    ports:
        - name: http
          port: 9115
          targetPort: 9115
    selector:
        app.kubernetes.io/name: prometheus-blackbox-exporter
