apiVersion: external-secrets.io/v1
kind: ExternalSecret
metadata:
    name: alertmanager-slack
    namespace: monitoring
spec:
    refreshInterval: 15m
    secretStoreRef:
        name: aws-secretstore
        kind: ClusterSecretStore
    target:
        name: alertmanager-slack
        creationPolicy: Owner
    data:
        - secretKey: system_alert_url
          remoteRef:
              key: /slack/system-alert-webhook
        - secretKey: user_alert_url
          remoteRef:
              key: /slack/user-alert-webhook
        - secretKey: deploy_alert_url
          remoteRef:
              key: /slack/deploy-alert-webhook
